<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="warn">
    <Properties>
        <Property name="timestamp">yyyy-MM-dd HH:mm:ss.SSS</Property>
        <Property name="date">yyyy-MM-dd</Property>
        <Property name="prefix">logs</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{${timestamp}}] [%level] [%c{1}] - %msg%n"/>
        </Console>

        <RollingFile name="full"
                     fileName="${prefix}/log4j2.${name}-${project.version}.full.log"
                     filePattern="${prefix}/log4j2.${name}-${project.version}.full-%d{${date}}.log">
            <PatternLayout pattern="[%d{${timestamp}}] [%level] [%c{1}] - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>

        <RollingFile name="main"
                     fileName="${prefix}/log4j2.${name}-${project.version}.main.log"
                     filePattern="${prefix}/log4j2.${name}-${project.version}.main-%d{${date}}.log">
            <PatternLayout pattern="[%d{${timestamp}}] [%level] [%c{1}] - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="net.libcsdbg.${name}-${project.version}.log4j2" level="${log4j.level.full}" additivity="false">
            <appender-ref ref="console" level="${log4j.level.console}"/>
            <appender-ref ref="full" level="${log4j.level.full}"/>
            <appender-ref ref="main" level="${log4j.level.main}"/>
        </Logger>
        <Root level="${log4j.level.full}" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="full"/>
            <AppenderRef ref="main"/>
        </Root>
    </Loggers>
</Configuration>
