body, table, p {
    background-color: #3e5e88;
    color: #eeeeee;
    line-height: 160%;
    margin: 0;
    padding: 0;
    font-family: Ubuntu, Tahoma, Roboto, Dialog, sans-serif;
    font-size: 13px;
}

td.icon {
    padding: 14px 0 0 14px;
}

p.h1 {
    padding: 10px 8px 0 20px;
    font-size: 150%;
    font-weight: bold;
}

p.h2 {
    padding: 6px 8px 0 20px;
    font-size: 110%;
    color: #76a6c7;
}

p.text {
    padding: 26px 10px 0 10px;
    text-align: justify;
}

p.other {
    padding: 26px 10px 0 10px;
    text-align: center;
}

span {
    color: #76a6c7;
}

a {
    color: #81cb2a;
    text-decoration: none;
}

a.close {
    color: #76a6c7;
}
