a {
    color: #81cb2a;
    text-decoration: none;
}

a.close {
    color: #86b6d7;
    font-size: 110%;
}

a.logo-link {
    color: #3e5e88;
}

body, div, p, table, td, tr {
    background-color: #3e5e88;
    color: #eeeeee;
    font-family: Tahoma, Ubuntu, Dialog, sans-serif;
    font-size: 13px;
    line-height: 150%;
    margin: 0;
    padding: 0;
}

div {
    padding: 20px 10px 10px 10px;
}

div.title {
    padding: 32px 10px 0 10px;
}

p.description {
    padding: 32px 20px 0 20px;
    text-align: justify;
}

p.heading1 {
    font-size: 145%;
    font-weight: bold;
    padding: 0 0 0 16px;
}

p.heading2 {
    color: #76a6c7;
    font-size: 110%;
    padding: 10px 0 0 16px;
}

p.short {
    padding: 32px 20px 0 20px;
    text-align: center;
}

span {
    color: #86b6d7;
}

td.logo-cell {
    padding: 0 0 0 20px;
}
