body, table, p {
    background-color: #3e5e88;
    color: #eeeeee;
    font-family: Tahoma, Ubuntu, Dialog, sans-serif;
    font-size: 13px;
    line-height: 160%;
    margin: 0;
    padding: 0;
}

div {
    padding: 40px 10px 0 10px;
}

td.icon {
    padding: 14px 0 0 14px;
}

td.img {
    padding: 0 14px 0 0;
}

p.h1 {
    font-size: 140%;
    font-weight: bold;
    padding: 10px 8px 0 20px;
}

p.h2 {
    color: #86b6d7;
    font-size: 105%;
    font-style: italic;
    padding: 10px 8px 0 20px;
}

p.text {
    padding: 30px 20px 0 20px;
    text-align: justify;
}

p.other {
    padding: 40px 10px 0 10px;
    text-align: center;
}

span {
    color: #86b6d7;
}

a {
    color: #81cb2a;
    text-decoration: none;
}

a.close {
    color: #86b6d7;
    padding: 40px 0 0 0;
}
